
body{
    background-color: #d9e1e8;
    max-width: 85%;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
}
/* header css content */
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
h1{
    /* margin: .4em; */
    width: 50%;
}
.icon{
    width: 70px;
    padding-top: 20px;
    margin-left: 10px;
}
header ul li a{
    text-decoration: none;
}
ul li{
    background-color: #7299c8;
    padding: 2px 10px;
    display: none;
    list-style: none;
    font-size: 1.4em;
    margin: .4em 0;
}
.nav li:first-child{
    background-color: unset;
    display: block;
    border-bottom: none;
    font-size: 2.5em;
}
/* .open is added to the ul when the hamburger menu is clicked */
.open li{
    display: block;
}

header, footer{
    background-color: #3973bf;
    color: #d9e1e8;
}


/* main content */
.info{
    border: 2px solid #7299c8;
    /* width: 97%; */
    height: 200px;
}
/* The window for the spotlights */
.spotlight{
    height: auto;
    border: 2px solid #7299c8;
}
#spot1, #spot2, #spot3{
    padding: 1.4em 0 1em 0;
    border: 2px solid #7299c8;
    text-align: center;
}
/* for the small and medium views spot3 is not displayed */
#spot3{
    display: none;
}
/* For the small the join is not displayed */
.join{
    display: none;
}

/* footer content */
footer a{
    background-color: #7299c8;
    padding: 2px 10px;
}
