
header{
    /* display: flex; */
}

header div{
    flex-direction: column;
}

.logo{
    width: 700px;
}

img{
    /* float: left; */
    width: 70px;
    padding-top: 20px;
    margin-left: 10px;
}
