
body{
    background-color: #d9e1e8;
    max-width: 85%;
    margin: 0 auto;
    word-wrap: break-word;
    /* text-align: center; */
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
h1{
    /* margin: .4em; */
    width: 50%;
}
.icon{
    width: 70px;
    padding-top: 20px;
    margin-left: 10px;
}

ul li{
    list-style: none;
    font-size: 1.4em;
    margin: .4em 0;
}

header, footer{
    background-color: #3973bf;
    color: #d9e1e8;
}

.info{
    border: 2px solid #7299c8;
    /* width: 97%; */
    height: 200px;
    margin: 1em 0;
}

.spotlight{
    height: auto;
    border: 2px solid #7299c8;
}

#spot1, #spot2{
    padding: .4em;
    border: 2px solid #7299c8;
    margin: 1em 1.3em;
    text-align: center;
}