@media (min-width: 949px) {
  /* header content */
  /* Stop showing the hamburger li */
  body {
    font-size: 1em;
  }
  .nav li:first-child {
    display: none;
  }
  .nav {
    display: flex;
    margin-left: -4em;
  }
  /* Change nav to row display */
  .nav li {
    display: block;
  }
  /* main content */
  /* start large grid display */
  main {
    padding: 0.5em 0.5em;
    display: grid;
    gap: 0.4em;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1em;
  }

  .action {
    height: unset;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .action section {
    top: 10%;
    right: 40%;
  }
  #timp-flag img {
    height: 100%;
    object-fit: cover;
  }
  .event {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .news {
    width: unset;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .join {
    display: unset;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .weather {
    width: unset;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .info {
    padding: 5px 0px;
  }

  .action {
    padding: 0;
    border: 0;
  }
  /* start spotlight grid */
  .spotlight {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
  #spot1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #spot2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #spot3 {
    display: unset;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #spot1,
  #spot2,
  #spot3 {
    width: 85%;
    margin-left: 1em;
    margin-bottom: -20px;
  }
}
