@media (min-width: 600px) and (max-width: 950px) {
  /*  main content */
  /* star main grid */
  main {
    max-width: 90%;
    padding: .5em .5em;
    display: grid;
    gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .action {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .action section{
    top: 10%;
    right: 15%;
  }
  #join-chamber{
    width: 10rem;
    font-size: .8em;
  }
  .event {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .news {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-right: 10px;
  }
  .weather {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .join {
    display: unset;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  /* start spotlight grid medium */
  .spotlight {
    padding-left: 3em;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  #spot1 {
    margin: 5px 0px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #spot2 {
    margin: 5px 0px;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #spot1,
  #spot2,
  img {
    width: 80%;
  }
}
