@media only screen and (min-width: 700px){
    body{
        max-width: 600px;
        color: green;
    }

    h3{
        margin-top: 60px;
    }
}


/* css grid for smaller screen */
@media only screen and (min-width: 950px){
    body{
        max-width: 400px;
        color:red;
    }
}
