@media only screen and (min-width: 700px){
    body{
    color: green;
    }
}


/* css grid for smaller screen */
@media only screen and (min-width: 950px){
    body{
        max-width: 400px;
        color:red;
    }
}
