@media (min-width: 400px){
    body{
        display: grid;
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: auto;
    }
    
    header{
        grid-column: auto;
        grid-row: 1/2;
    }
    
    main{
        grid-column: auto;
        grid-row: 2/3;
        padding: 20px;
    }
}



 