@media (max-width: 450px){
    body{
        display: grid;
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 400px;
        color: red;
    }
    
    header{
        grid-column: auto;
        grid-row: 1/2;
    }
    
    main{
        grid-column: auto;
        grid-row: 2/3;
        padding: 20px;
    }

    .dps{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
       }

    /* .dps, img{

    } */

}



 