body{
    max-width: 400px;
    margin: 1.5rem auto;
    background-color: rgb(188, 180, 180);
}

header, footer{
    background-color: rgb(15, 58, 144);
    color: rgb(223, 211, 211);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

footer{
    margin-top: 25px;

}

main{
    text-align: center;
}

img{
    text-align: center;
    border: 1px solid black;
    background-color: #eee;
    margin-top: -10px;
    margin-bottom: -10px;;
}

h3{
    margin-top: 40px;
    text-align: center;
    background-color: rgba(15, 58, 144, 0.652);
    border-radius: 5px;
}

.dp-3{
    margin-top: 40px;
    text-align: center;
    background-color: rgba(15, 58, 144, 0.652);
    border-radius: 5px;
    padding: 1px 20px;
    background-color: rgb(41, 49, 108);
    border-radius: 15px;
    margin: 15px;
    color: rgb(223, 211, 211)
}