body{
    background-color: #d9e1e8;
    max-width: 85%;
    font-family: 'Playfair Display', serif;
    margin: auto;
    word-wrap: break-word;
}

footer{
    border-radius: 15px;
    text-align: center;
    background-color: #3973bf;
    color: #d9e1e8;
    padding: .4em;
}


h1, h2, h3, h4{
    border-radius: 15px;
    color: #d9e1e8;
    background-color: #3973bf;
    border: 2px solid black;
    padding: .4em;
    font-family: 'Oswald', sans-serif;
}

header img{
    width: 2em;
}

img{
    margin: 10px;
}

.links{
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

#oswald h4{
    font-family: 'Oswald', sans-serif;
}

#playfair h4{
    font-family: 'Playfair Display', serif;
}

.schema{
    display: flex;
    flex-direction: column;
}

.colors{
    text-align: center;
    width: 30%;
    height: 4em;
    border: 2px solid black;
    margin: .4em auto;
    padding: 4em;
}

.gray{
    background-color: #7f766d;
}
.celtic-blue{
    background-color: #3973bf;
}
.alice-blue{
    background-color: #d9e1e8;
}
.blue-gray{
    background-color: #7299c8;
}
.powder-blue{
    background-color: #9ab0ca;
}