body{
    font-family: 'Playfair Display', serif;
}


h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}

header img{
    width: 60px;
}

img{
    margin: 10px;
}

#oswald h4{
    font-family: 'Oswald', sans-serif;
}

#playfair h4{
    font-family: 'Playfair Display', serif;
}