@media (min-width: 950px){

    #logo{
        margin: auto;
    }

    #socialMedia{
        margin: auto;
    }

    h1{
        text-align: center;
    }

    body{
        text-align: center;
    }
    
    input, select, textarea{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

