body{
    text-align: center;
}

.imgs{
    list-style: none;
}

img[data-src]{
    filter: blur(3px);
}
.imgs li{
    margin: 1rem auto;
    filter: blur(0px);
    width: 300px;
    object-fit: cover;
}