body{
    background-color: black;
    color:white;
}

input{
    background-color: blue;
    color: white;
}

ol{
    border: 2px solid blue;
    width: 40%;
}

li{
    margin: 1em;
}

button{
    margin: 10px;
}